Repository KumoCorp/kumomta: changes, and which Woodpecker steps are due for each by the changed paths.
All: docs, push-docs, save-doc-cache, ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

docs:
  steps:
    restore-mtime:
      image: python:3-bookworm
      commands:
      - git config --global --add safe.directory /woodpecker/src
      - ./assets/ci/git-restore-mtime crates
      - git diff-index --name-status HEAD --
    restore-doc-cache:
      environment:
        AWS_DISABLESSL: 'true'
      secrets:
  ...

push-docs:
  image: docker-registry.wezfurlong.org/kumocorp/builder-for-ubuntu:22.04
  secrets:
  - source: gh_pages_deploy_token
    target: TOKEN
  commands:
  - ./assets/ci/push-gh-pages.sh

save-doc-cache:
  image: meltwater/drone-cache
  environment:
    AWS_DISABLESSL: 'true'
  secrets:
  - source: s3_access_key_id
    target: AWS_ACCESS_KEY_ID
  - source: s3_secret_key
    target: AWS_SECRET_ACCESS_KEY
  - source: s3_endpoint
    target: S3_ENDPOINT
  settings:
    bucket: kumomta-cache
    cache_key: docs
    mount:
  ...

ubuntu:
  steps:
    restore-mtime:
      image: python:3-bookworm
      commands:
      - git config --global --add safe.directory /woodpecker/src
      - ./assets/ci/git-restore-mtime crates
      - git diff-index --name-status HEAD --
    restore-build-cache:
      environment:
        AWS_DISABLESSL: 'true'
      secrets:
  ...

save-build-cache:
  depends_on:
  - build
  image: meltwater/drone-cache
  environment:
    AWS_DISABLESSL: 'true'
  secrets:
  - source: s3_access_key_id
    target: AWS_ACCESS_KEY_ID
  - source: s3_secret_key
    target: AWS_SECRET_ACCESS_KEY
  - source: s3_endpoint
    target: S3_ENDPOINT
  settings:
    bucket: kumomta-cache
  ...

publish_deb:
  depends_on:
  - verify-installable
  image: alpine:3.14
  secrets:
  - source: openrepo_publish_token
    target: TOKEN
  commands:
  - apk --no-cache add curl bash
  - ./assets/upload-package.sh ${UBUNTU_IMAGE} *.deb

dry-run-build-docker-image:
  depends_on:
  - build
  image: plugins/docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/kumocorp/kumomta-dev
    dry_run: true
    tags:
    - dry-run
    dockerfile: docker/kumod/Dockerfile.incremental

build-dev-docker-image:
  depends_on:
  - publish_deb
  image: plugins/docker
  settings:
    username:
      from_secret: gh_package_publish_user
    password:
      from_secret: gh_package_publish_token
    registry: ghcr.io
    repo: ghcr.io/kumocorp/kumomta-dev
    tags:
    - latest
    dockerfile: docker/kumod/Dockerfile.incremental

build-docker-image:
  depends_on:
  - publish_deb
  image: plugins/docker
  settings:
    username:
      from_secret: gh_package_publish_user
    password:
      from_secret: gh_package_publish_token
    registry: ghcr.io
    repo: ghcr.io/kumocorp/kumomta
    tags:
    - latest
    - ${CI_COMMIT_TAG}
  ...

try using docker-in-docker plugin
  .woodpecker/amazon.yml
Due: none

try podman instead
  .woodpecker/amazon.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
  assets/ci/build-builder-images.py
  crates/mod-redis/src/test.rs
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add more context to "Data is not ASCII or UTF-8" errors
  crates/mailparsing/src/error.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/mimepart.rs
  crates/message/src/dkim.rs
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

docs: apply proper lua formatting to kafka docs
  docs/reference/kumo.kafka/build_producer.md
  docs/userguide/policy/kafka.md
Due: docs, push-docs, save-doc-cache

mailparsing: improve handling of bad messages
  crates/mailparsing/src/error.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/strings.rs
  docs/changelog/main.md
Due: docs, push-docs, save-doc-cache, ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

mailparsing: try to avoid illegal slice panic
  crates/mailparsing/src/header.rs
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add docker image build for redis + redis_cell
  .github/workflows/redis.yml
  docker/redis/Dockerfile
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: fixup redis build
  .github/workflows/redis.yml
Due: none

redis: fixup filename for armv7 download
  docker/redis/Dockerfile
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

redis: update README to reference our new redis docker image
  docker/redis/README.md
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

docker: add /opt/kumomta/sbin to default path
  docker/kumod/Dockerfile
  docker/kumod/Dockerfile.incremental
  docker/kumod/Dockerfile.scratch
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add a ready-to-run docker compose example
  examples/single-node-docker/README.md
  examples/single-node-docker/compose.yaml
  examples/single-node-docker/policy/docker_utils.lua
  examples/single-node-docker/policy/init.lua
  examples/single-node-docker/policy/shaping.toml
  examples/single-node-docker/policy/tsa_init.lua
Due: none

stylua the docker examples
  examples/single-node-docker/policy/docker_utils.lua
  examples/single-node-docker/policy/init.lua
Due: none

add docker swarm example
  examples/docker-swarm/README.md
  examples/docker-swarm/compose.yaml
  examples/docker-swarm/policy/docker_utils.lua
  examples/docker-swarm/policy/init.lua
  examples/docker-swarm/policy/listener_domains.toml
  examples/docker-swarm/policy/shaping.toml
  examples/docker-swarm/policy/tsa_init.lua
Due: none

update docker swarm readme
  examples/docker-swarm/README.md
Due: none

fix: OOB didn't respect headers and meta config from logger
  crates/kumod/src/logging.rs
  docs/changelog/main.md
Due: docs, push-docs, save-doc-cache, ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

cargo update
  Cargo.lock
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

backout of commit 3ef12fee4bfc08d203756071f2f124faec548b82
  Cargo.lock
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add scheduled queue max_message_rate throttle
  crates/kumod/src/queue.rs
  docs/reference/kumo/make_egress_path.md
  docs/reference/kumo/make_queue_config.md
Due: docs, push-docs, save-doc-cache, ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

rustfmt
  crates/kumod/src/queue.rs
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Changelog entry for new max_message_rate option.
  docs/changelog/main.md
Due: docs, push-docs, save-doc-cache

msg: add num_attempts, set_due and queue_name methods
  crates/message/src/message.rs
  docs/reference/message/num_attempts.md
  docs/reference/message/queue_name.md
  docs/reference/message/set_due.md
Due: docs, push-docs, save-doc-cache, ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add requeue_message event
  crates/kumod/src/ready_queue.rs
  docs/reference/events/requeue_message.md
Due: docs, push-docs, save-doc-cache, ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

cargo update mio to resolve a dependabot alert
  Cargo.lock
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Add reference for /opt/kumomta/sbin/validate-shaping
  docs/userguide/configuration/trafficshaping.md
Due: docs, push-docs, save-doc-cache

chrono: fixup now-deprecated calls
  Cargo.lock
  Cargo.toml
  crates/dkim/src/header.rs
  crates/dkim/src/lib.rs
  crates/kumo-chrono-helper/Cargo.toml
  crates/kumo-chrono-helper/src/lib.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/http_server/admin_suspend_ready_q_v1.rs
  crates/kumod/src/http_server/admin_suspend_v1.rs
  crates/kumod/src/queue.rs
  crates/kumod/src/ready_queue.rs
  crates/message/Cargo.toml
  crates/message/src/dkim.rs
  crates/message/src/message.rs
  crates/message/src/scheduling.rs
Due: ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Add references to the validate-shaping utility to the userguide.
  docs/userguide/configuration/trafficshaping.md
  docs/userguide/operation/troubleshooting.md
Due: docs, push-docs, save-doc-cache

Adding a link to the page on How to read logs on the troubleshooting page.
  docs/userguide/operation/troubleshooting.md
Due: docs, push-docs, save-doc-cache

proxy-server: fix missing bind(2) call
  crates/proxy-server/src/proxy_handler.rs
  docs/changelog/main.md
Due: docs, push-docs, save-doc-cache, ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

update the readme.md to be more informative for repo visitors.
  README.md
Due: none

Github won't allow the Discord iframe.
  README.md
Due: none

Punctuation fixes.
  README.md
Due: none

Add sbin utilities
  docs/generate-toc.py
  docs/userguide/operation/command-line-index.md
  docs/userguide/operation/kumo-proxy.md
Due: docs, push-docs, save-doc-cache

spelling corrections
  docs/userguide/operation/command-line-index.md
Due: docs, push-docs, save-doc-cache

fix URLS
  docs/userguide/operation/command-line-index.md
Due: docs, push-docs, save-doc-cache

typo correction
  docs/userguide/operation/command-line-index.md
Due: docs, push-docs, save-doc-cache

Add kumo.make_throttle and throttle_insert_ready_queue event
  crates/kumod/src/mod_kumo.rs
  crates/kumod/src/queue.rs
  crates/throttle/src/lib.rs
  docs/reference/events/throttle_insert_ready_queue.md
  docs/reference/kumo/make_throttle.md
Due: docs, push-docs, save-doc-cache, ubuntu, save-build-cache, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Correct link paths and spelling.
  docs/userguide/operation/command-line-index.md
Due: docs, push-docs, save-doc-cache

Fixing relative URLs.
  docs/userguide/operation/command-line-index.md
Due: docs, push-docs, save-doc-cache

Update timeout defaults
  docs/reference/kumo/make_egress_path.md
Due: docs, push-docs, save-doc-cache

Path conditions:
  docs: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  push-docs: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  save-doc-cache: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  ubuntu: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  save-build-cache: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  publish_deb: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  dry-run-build-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  build-dev-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  build-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
